<div class="container">
    <h1>Tendencias y novedades de moda en {{title}}</h1>

    <div class="row">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequatur numquam dolore quas? Dolores
                illo
                omnis dignissimos rerum voluptatum accusantium laborum unde, odit, ex dolore ab dicta, vel iure. Quam.
            </p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero consequatur numquam dolore quas? Dolores
                illo
                omnis dignissimos rerum voluptatum accusantium laborum unde, odit, ex dolore ab dicta, vel iure. Quam.
            </p>
        </div>
    </div>
</div>